/*background plano de fundo 
 */
 *{
    box-sizing: border-box;
   
 }
 .quadrado{
    width: 300px;
    height: 300px;
    border: 2px solid black;
 }
 .primeiro{
    /* aplicar cor de fundo com rgba, o ultimo atributo vai de 0 a 1
    ex:0.5 */
    background-color: rgba(18, 233, 144 , 0.1);
 }
 .segundo{
    /* background: linear-gradient( to left,rgb(243, 228, 22), rgb(46, 26, 223) , rgb(62, 238, 18)); */
    /* background: linear-gradient( to right,rgb(243, 228, 22), rgb(46, 26, 223) , rgb(62, 238, 18)); */
    /* background: linear-gradient(to top,rgb(243, 228, 22), rgb(46, 26, 223) , rgb(62, 238, 18)); */
    /* background: linear-gradient(to botton,rgb(243, 228, 22), rgb(46, 26, 223) , rgb(62, 238, 18)); */
    /*com deg e uma numeração permite colocar o gradiente em diagon
     background: linear-gradient(35deg,rgb(243, 228, 22), rgb(46, 26, 223) , rgb(62, 238, 18)); */
     /* background: linear-gradient(45deg,#f3e416, #2e1adf , #3eee12); */
     background: radial-gradient(#f3e416, #2e1adf , #3eee12);
 }
 .terceiro{
    background: radial-gradient(red, blue, yellow);
 }
 .quarto{
    background: rgb(199,19,168);
background: linear-gradient(90deg, rgba(199,19,168,0.8638174019607843) 0%, rgba(16,121,9,0.7951899509803921) 35%, rgba(255,108,0,0.7330984477124183) 100%);
 }
 .screen{
    
    /* vw -> view widht(Largura de tela
       vh -> view height(altura da tela)   */
    width: 100vw;
    min-height: 100vh;
    border: 2px solid black;
    background-image: url(plano-de-fundo.png);

    /* background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat;
    background-repeat: no-repeat; */
    background-repeat: no-repeat;
    /*os valores sao definidos como mapa cartesiano*/
     /* background-position: center center;  
     background-position: 45% 20%; */
    /* background-size: 100% 10%; */
    /* a imagem vai preencher o tamanho da pagina definido sem perder a proporção, ela não vai ser achatada
    background-size: cover; */
    background-size: cover;
    /* desce a imagem junto com o elemento
    background-attachment: scroll; */
    /* desce a tela e aum imagem fica fixa
        background-attachment : fixed;
     */
    background-attachment: fixed;
   
   
 }
 .overlay{
   width: 100%;
   height: 100%;
   background-color: #c9595922;
 }