*{
    /* 
        border-box -> Tamanho da caixa -> width
        content-box -> Tamanho da caixa -> width + padding + border
    */
    box-sizing: border-box;
}

/* box-model -> Modelo de caixa 
Largura
altura
borda
Espaçamento interno 
Margem
  */
header{
    width: 100%;
    height: 200px;
     border: 2px dashed black; 
    /* border-width: 2px;
    border-style: solid, dashed,dotted,none
    hidden;
    border-color: black; */
  /*  border-radius:54px ;  arredondamento nas bord
    as*/
    /* Arredondamento nas bordas
     border-radius:8px; */
    /*aplica a borda apenas a esquerda do elemento
    border-left: 3px solid blue;*/
    /* padding: 50px; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px; */
    /* padding: 20px 30px 20px 30px; /* top,right, bottom,left , segue o sentido */
    /* horario  */
    padding: 20px 30px;
    box-sizing: border-box;
   
}
header a{
    /* padding: 20px 30px; */
    margin: 20px;
    padding: 3px;
    
}
header div{
    
    height: 20px;
    margin: 20px;
}
#circulo{
    width: 100px;
    height: 100px;
  border: 2px solid blue;
  border-radius: 50%; 
/* arredondamento das bordas*/
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}